/************************** General Styles **************************/

*,
:focus {
    box-sizing: border-box;
    outline: none;
    font-family: 'Lora', serif;
    font-size: 1.1rem;
    color: grey;
}

fieldset {
    border: none;
    width: 100%;
    margin: 0 auto;
}

.darkF {
    color: #2d3945;
}

.whiteF {
    color: white;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.left {
    text-align: left;
}

header {
    background: #2d3945;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-size: 1.5rem;
}

.line {
    height: 10px;
    width: 100%;
    border-top: 4px solid #2d3945;
    border-bottom: 2px solid #2d3945;
    margin-bottom: 30px;
}

.message {
    margin-top: 30px;
}

.message h2 {
    margin-bottom: 10px;
}

.message p {
    margin-top: 0;
    margin-bottom: 35px;
    color: gray;
}

.wrapper {
    width: 90%;
}

.contact-wrapper {
    border-bottom: 2px solid #2d3945;
    padding-bottom: 25px;
}

.contact-information label {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    color: gray;
}

.contact-information input,
.contact-information select {
    width: 100%;
    background-color: #eaeaea;
    height: 45px;
    border-radius: 5px;
    border: none;
    color: black;
    padding-left: 15px;
}

.contact-information select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding-left: 10px;
    background-image: url(../img/down_arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    color: grey;
}

select:valid {
    color: black;
}

#zip {
    display: block;
    width: 169px;
}

input::-webkit-input-placeholder {
    text-align: right;
    padding-right: 20px;
    font-style: italic;
    color: grey;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: inset 0 0 0 2px #46698b;
}

.newsletter-wrapper legend {
    padding-top: 25px;
}

.newsletter > input,
.newsletter > label {
    display: block;
    margin-top: 15px;
}

.format > input,
.format > label {
    display: block;
    margin-top: -10px;
}


/*unchecked*/

input[type="checkbox"] + label::before {
    content: "";
    width: 23px;
    height: 23px;
    display: block;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #eaeaea;
}


/*checked*/

[type="checkbox"]:checked + label::before {
    background: #eaeaea;
    background-image: url(../img/checkmark.png);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: inset 0 0 0 2px #46698b;
    width: 23px;
    height: 23px;
}

input[type="radio"] + label::before {
    content: "";
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 100%;
    border: 3px solid #eaeaea;
    background: #eaeaea;
    box-shadow: 0 0 0 0.15em #eaeaea;
    width: .5em;
    height: .5em;
    top: 50%;
    transform: translateY(25%);
}

[type="radio"]:checked + label::before {
    border: 3px solid #eaeaea;
    background: #46698b;
    box-shadow: 0 0 0 0.15em #46698b;
    width: .5em;
    height: .5em;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

#other-topics {
    margin-top: 30px;
}

#other-topics label {
    display: block;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 5px;
    background-color: #eaeaea;
    border: none;
}

[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: #4ebbb5;
    color: white;
    font-size: 1.1rem;
}

i {
    font-size: .85em;
}

@media(min-width: 760px) {
    /* adjust font sizes */
    h1 {
        font-size: 1.3em;
    }
    .message h2 {
        font-size: 1.3em;
        margin-top: 50px;
    }
    p {
        font-size: .8em;
    }
    label {
        font-size: .8em;
    }
    /* adjust page layout */
    .wrapper {
        max-width: 600px;
    }
    .contact-information label {
        display: inline-block;
        width: 29%;
    }
    .contact-information input,
    .contact-information select {
        display: inline-block;
        max-width: 70%;
    }
    #zip {
        display: inline-block;
        max-width: 70%;
    }
}
